body {
  width: 1260px;
  margin: 20px auto;  
  font-size: 16px;
  font-family: 'Roboto', sans-serif, Arial, Helvetica, sans-serif;
  background-color: #f3ececf8;


}

nav{
    margin:  16px 0;
    display: inline-block;
    width: 300px;
    vertical-align: top;
    
    
    
}
aside {
    display:inline-block;
    width: 900px;
    margin-left: 2em;
    
    
}

a{
    margin-right: 12px;
    padding-bottom: 20px;
    display:block;
    color: black;
    font-size: 18px;
    
}
table {
    border-collapse: collapse;
    width: 900px;
    border-collapse: collapse;
   
  }

  th {
    padding: 18px;
  }
   
  td {
    padding: 12px;
  }
   
  th,
  td {
    border: solid 1px #e6e6e6;
  }
   
  tr {
    background-color: #ccc9c9;
  }
   
  #heading {
    background-color: #caa7ad;
 
  }